[includeIf "gitdir:~/git/home/**"]
  path = .gitconfig-home

[includeIf "gitdir:~/git/cmd/**"]
  path = .gitconfig-cmd

[includeIf "gitdir:~/git/nab/**"]
  path = .gitconfig-nab

[includeIf "gitdir:~/git/fox/**"]
  path = .gitconfig-fox

[includeIf "gitdir:~/git/quadnova/**"]
  path = .gitconfig-quadnova

[alias]
	co = checkout
	br = branch
	st = status
	pm = pull origin master

[color]
	ui = auto
